div {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
/* HEADER styling */
.header_title {
  background-color: #fff;
  min-height: 100px;
  transition: min-height 0.3s;
  display:flex;
  border-bottom: 5px solid #7d97ad;
  width: 100%;
}

.header-inner {
  text-align: right;
  color: #2d3c49;
  order: 0;
  padding-bottom: 0;
  padding-right: 5px;
}

.header__logo {
  max-width: 100px;
  max-height: 100px;
  order: -1;
  padding-left: 5px;
  padding-top: 5px;
}

.header_info {
  width: 100%;
}
/* End of HEADER styling */

/* Hero image (large image) */
.hero_image {
  width: 100%;
  height: auto;
  display: block;
}
/* End of Hero image */

/* Feature work title */
.title_feature_work {
  color: #7d97ad;

}
/* End of Feature work title */

/* Secondary project styling */

.img_project {
  width: 100%;
}

.description_project {
  text-align: center;
  color:  #2d3c49;
  font-size: 26px;
}

a {
  text-decoration: none;
}

.footer_display {
  border-top: 5px solid #7d97ad;
}
/*End of secondary project*/

/*footer Styling */
 .linkedin {
  max-width: 65px;
  max-height: 65px;
  width: 33%;

}
.github {
  max-height: 75px;
  max-height: 75px;
  width: 33%;
}
.footer {
  display: flex;

}
.contact-info{
  padding-left: 33%;
  padding-right: 33%;
}
